<form method="POST" action="/reg">
    <div class="form-group">
      <label for="name">昵称</label>
      <input type="text" class="form-control" id="name" placeholder="请输入昵称" name="name">
    </div>
    <div class="form-group">
      <label for="password">密码</label>
      <input type="password" class="form-control" id="password" placeholder="请输密码" name="password">
    </div>
    <div class="form-group">
        <label for="passwordRepeat">重复密码</label>
        <input type="password" class="form-control" id="passwordRepeat" placeholder="请重复输入密码" name="passwordRepeat">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>